/* You can add global styles to this file, and also import other style files */

// Import Bootstrap CSS
// @import '../../../node_modules/bootstrap/scss/bootstrap';
@import './theme/bootstrap-overrides.scss';

// @import './theme/custom.scss';

html,
body {
  overflow: hidden;
}

.no-wrap {
  white-space: nowrap;
}

/* Disable validation icons globally */
.was-validated .form-control:valid,
.form-control.is-valid {
  background-image: none !important;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none !important;
}
