$blue: #0d71c4;
$indigo: #ac7df7;
$purple: #a983f0;
$pink: #d5699f;
$red: #d66c77;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$input-padding-y: 0.1rem;
$input-padding-x: 0.75rem;
