.tableWrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
  max-height: 100%;
  width: 100%;
  overflow: auto;
}

.cell {
  vertical-align: middle;
}

thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

.stickyCell {
  position: sticky;
  right: 0;
  z-index: 1;

  display: inline-flex;
  column-gap: 8px;
  justify-content: center;
}
