.dataGridWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.dataGridWrapper.loading:after {
  content: 'Loading...';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.tableWrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
  max-height: 100%;
  width: 100%;
  overflow: auto;
}

.cell {
  vertical-align: middle;
  white-space: nowrap;
}

thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

.stickyCell {
  position: sticky;
  right: 0;
  z-index: 1;

  display: inline-flex;
  column-gap: 8px;
  justify-content: center;
}
