.navbar {
  .nav-link.active {
    font-weight: bold;
    color: #007bff;
    border-bottom: 2px solid #007bff;
  }
}

.brandLink {
  font-weight: bold;
  font-size: 1.5rem;

  &:hover {
    opacity: 0.6;
  }
}
